<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=WILSON\SQLEXPRESS; Initial Catalog=PME; trusted_connection=true"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=PME,Username=postgres;Password=lancelot17"/>
		<add name="Memoria"
			 connectionString="PME_DBMemoria"/>
	</connectionStrings>
</configuration>