@using ModeloProyecto.Entidades
@model Garante

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edición de Garante </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Confrimar el borrado del garante: @Model.NombreG </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
           
            <form method="post" asp-action="Delete">

                    <input  asp-for="GaranteId" hidden />

                <div class="form-group">
                    <label>Nombre: </label>
                    <input asp-for="NombreG" disabled />
                </div>
                <div class="form-group">
                    <label>Apellido: </label>
                    <input asp-for="ApellidoG" disabled />
                </div>
                <div class="form-group">
                    <label>Cedula: </label>
                    <input asp-for="CedulaG" disabled/>
                </div>
                <div class="form-group">
                    <label>Edad: </label>
                    <input asp-for="EdadG" disabled/>
                </div>
                <div class="form-group">
                    <label>Dirección: </label>
                    <input asp-for="DireccionG" disabled />
                </div>
                <div class="form-group">
                    <label>Ingresos Anuales: </label>
                    <input asp-for="IngresosAnualesG" disabled />
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar borrado del garante" class="btn btn-primary"  />
                </div>
            </form>

        </div>
    </div>
</div>

